<h1>
	This is the secret page!
</h1>
<p>You found me!</p>
<img src="https://pixabay.com/get/57e9d2474c53a814f6da8c7dda793f7f1636dfe2564c704c722f7ed19245c05a_340.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/logout">Logout</a></li>
<li><a href="/login">Login</a></li>